<div class="todo-list">
  @foreach (var todo in todos)
  {
      <TodoItem todo="todo" Remove="@RemoveTodo" />
  }
</div>

<style scoped>
  .todo-list {
    display: inline-block;
  }
</style>

@using todo_blazor.Models;
@using todo_blazor.Components;
@code {
  [Parameter]
  public List<Todo> todos { get; set; }

  private void RemoveTodo(int id)
  {
    this.todos = this.todos.Where(x => x.Id != id).ToList();
    base.StateHasChanged();
  }
}